<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>sApp - App Landing Page</title>

	<!-- Favicon  -->
	<link rel="icon" href="assets/img/favicon.png">

	<!-- ***** All CSS Files ***** -->

	<!-- Style css -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	<div class="main">
		<!-- ***** Preloader Start ***** -->
		<div class="preloader-main">
			<div class="preloader-wapper">
				<svg class="preloader" xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="200">
					<defs>
						<filter id="goo" x="-40%" y="-40%" height="200%" width="400%">
							<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
							<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -8" result="goo" />
						</filter>
					</defs>
					<g filter="url(#goo)">
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
					</g>
				</svg>
				<div>
					<div class="loader-section section-left"></div>
					<div class="loader-section section-right"></div>
				</div>
			</div>
		</div>
		<!-- ***** Preloader End ***** -->

		<!-- ***** Header Start ***** -->
		<header id="header">
			<!-- Navbar -->
			<nav data-aos="zoom-out" data-aos-delay="800" class="navbar gameon-navbar navbar-expand">
				<div class="container header">

					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<img src="assets/img/logo/logo.png" alt="Brand Logo" />
					</a>

					<div class="ms-auto"></div>

					<!-- Navbar Nav -->
					<ul class="navbar-nav items mx-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Home <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="index.html" class="nav-link">Homepage-1</a>
								</li>
								<li class="nav-item">
									<a href="index-2.html" class="nav-link">Homepage-2</a>
								</li>
								<li class="nav-item">
									<a href="index-3.html" class="nav-link">Homepage-3</a>
								</li>
								<li class="nav-item">
									<a href="index-4.html" class="nav-link">Homepage-4</a>
								</li>
								<li class="nav-item">
									<a href="index-5.html" class="nav-link">Homepage-5</a>
								</li>
								<li class="nav-item">
									<a href="index-6.html" class="nav-link">Homepage-6</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#features">Features</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Pages <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Inner Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="pricing.html" class="nav-link">Pricing</a>
										</li>
										<li class="nav-item">
											<a href="download.html" class="nav-link">Download</a>
										</li>
										<li class="nav-item">
											<a href="newsletter.html" class="nav-link">Newsleter</a>
										</li>
										<li class="nav-item">
											<a href="thank-you.html" class="nav-link">Thank you</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">404</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-two-column.html" class="nav-link">Blog 2 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-three-column.html" class="nav-link">Blog 3 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-right-sidebar.html" class="nav-link active">Blog Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Single <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-single-left-sidebar.html" class="nav-link">Blog Single Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-single-right-sidebar.html" class="nav-link">Blog Single Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Accounts <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="login.html" class="nav-link">Login</a>
										</li>
										<li class="nav-item">
											<a href="signup.html" class="nav-link">Signup</a>
										</li>
										<li class="nav-item">
											<a href="forgot.html" class="nav-link">Reset Password</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="reviews.html" class="nav-link">Reviews</a>
								</li>
								<li class="nav-item">
									<a href="faq.html" class="nav-link">FAQ</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link disabled">More Coming Soon</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#screenshots">Screenshots</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#contact">Contact</a>
						</li>
					</ul>

					<!-- Navbar Icons -->
					<ul class="navbar-nav icons">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#search">
								<i class="icon-magnifier"></i>
							</a>
						</li>
					</ul>

					<!-- Navbar Toggler -->
					<ul class="navbar-nav toggle">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#menu">
								<i class="icon-menu m-0"></i>
							</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- ***** Header End ***** -->

		<!-- ***** Breadcrumb Area Start ***** -->
		<section id="home" class="breadcrumb-area has-overlay overlay-gradient d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Breamcrumb Content -->
						<div class="breadcrumb-content text-center">
							<h2 class="text-white">Blog Right Sidebar</h2>
							<ol class="breadcrumb d-flex justify-content-center">
								<li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a class="text-white" href="#">Blog Pages</a></li>
								<li class="breadcrumb-item text-white active">Blog - Right Sidebar</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Breadcrumb Area End ***** -->

		<!-- ***** Blog Area Start ***** -->
		<section class="blog">
			<div class="container">
				<div class="row items justify-content-between g-0">
					<div class="col-12 col-md-8">
						<div class="row">
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-1.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">How to Create High-Converting Landing Pages for Any Industry</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">App</a>
												<a class="terms badge" href="#">Design</a>
												<a class="terms badge" href="#">Trends</a>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-2.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">The Ultimate Guide to Building a Responsive Landing Page with sApp</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">UI/UX</a>
												<a class="terms badge" href="#">Responsive</a>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-3.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">10 Must-Have Features for a Successful App Landing Page</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">Design</a>
												<a class="terms badge" href="#">Marketing</a>
												<a class="terms badge" href="#">Landing</a>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-4.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">Boost Your App Downloads with sApp: Proven Tips and Strategies</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">Marketing</a>
												<a class="terms badge" href="#">Trends</a>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-5.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">Why sApp is the Perfect Solution for Showcasing Your App's Features</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">Landing</a>
												<a class="terms badge" href="#">Features</a>
											</div>
										</div>
									</div>
								</div>
							</div>
		
							<div class="col-12 col-md-6 item">
								<!-- Post -->
								<div class="card blog-item">
									<div class="image-holder">
										<!-- Card Thumb -->
										<a class="card-thumb" href="blog-single-right-sidebar.html">
											<img src="assets/img/blog/blog-6.jpg" alt="">
										</a>
										<div class="card-overlay top fade-down">
											<div class="logo">
												<img src="assets/img/content/author.png" alt="">
											</div>
											<div class="post-meta d-flex flex-column ms-3">
												<span>Posted by</span>
												<span class="post-author">Themeland</span>
											</div>
										</div>
									</div>
									<!-- Card Overlay -->
									<div class="card-content mt-3">
										<div class="heading">
											<div class="post-meta d-flex">
												<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
											</div>
											<h4 class="title my-2">
												<a href="blog-single-right-sidebar.html">How to Customize Your sApp Landing Page for Maximum Impact</a>
											</h4>
											<div class="card-terms">
												<a class="terms badge" href="#">SEO</a>
												<a class="terms badge" href="#">Landing</a>
												<a class="terms badge" href="#">Design</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-lg-4">
							<div class="col-12">
								<nav>
									<ul class="page-numbers w-auto">
										<li><span aria-current="page" class="page-numbers current">1</span></li>
										<li><a class="page-numbers" href="#">2</a></li>
										<li><a class="next page-numbers swap-icon" href="#"><i class="icon bi bi-arrow-right-short"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4 ps-md-5">
						<aside class="sidebar item">
							<!-- Widget -->
							<div class="widget">
								<form class="contact-form outlined">
									<div class="form-floating">
										<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Keywords">
										<label for="keywords">Enter Keywords</label>
									</div>
								</form>
							</div>

							<!-- Widget -->
							<div class="widget">
								<h4 class="title mb-3">Categories</h4>

								<!-- Navigation -->
								<ul class="nav flex-column">
									<li class="nav-item d-flex justify-content-between align-items-center">
										<a class="nav-link" href="blog-three-column.html">App Landing</a>
										<span class="badge">12</span>
									</li>
									<li class="nav-item d-flex justify-content-between align-items-center">
										<a class="nav-link" href="blog-three-column.html">UI/UX</a>
										<span class="badge">16</span>
									</li>
									<li class="nav-item d-flex justify-content-between align-items-center">
										<a class="nav-link" href="blog-three-column.html">Design</a>
										<span class="badge">14</span>
									</li>
									<li class="nav-item d-flex justify-content-between align-items-center">
										<a class="nav-link" href="blog-three-column.html">Marketing</a>
										<span class="badge">08</span>
									</li>
									<li class="nav-item d-flex justify-content-between align-items-center">
										<a class="nav-link" href="blog-three-column.html">Mobile</a>
										<span class="badge">17</span>
									</li>
								</ul>
							</div>

							<!-- Widget -->
							<div class="widget">
								<h4 class="title mb-3">Popular Tags</h4>

								<!-- Post Tags -->
								<div class="card-terms">
									<a class="terms badge" href="blog-three-column.html">App</a>
									<a class="terms badge" href="blog-three-column.html">Landing</a>
									<a class="terms badge" href="blog-three-column.html">Design</a>
									<a class="terms badge" href="blog-three-column.html">Trends</a>
									<a class="terms badge" href="blog-three-column.html">SEO</a>
									<a class="terms badge" href="blog-three-column.html">Marketing</a>
									<a class="terms badge" href="blog-three-column.html">Features</a>
									<a class="terms badge" href="blog-three-column.html">Strategy</a>
									<a class="terms badge" href="blog-three-column.html">Tools</a>
									<a class="terms badge" href="blog-three-column.html">WordPress</a>
									<a class="terms badge" href="blog-three-column.html">Responsive</a>
								</div>
							</div>

							<!-- Widget -->
							<div class="widget">
								<h4 class="title mb-3">Related Posts</h4>

								<!-- Post Tags -->
								<ul class="related-posts">
									<!-- Post -->
									<li class="card blog-item d-flex flex-row">
										<div class="image-holder w-25">
											<!-- Card Thumb -->
											<a class="card-thumb" href="blog-single-right-sidebar.html">
												<img class="avatar-md" src="assets/img/blog/blog-6.jpg" alt="">
											</a>
										</div>
										<!-- Card Overlay -->
										<div class="card-content w-75 ms-3">
											<div class="heading">
												<div class="post-meta">
													<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
												</div>
												<h4 class="title mt-2 mb-0">
													<a href="blog-single-right-sidebar.html">How to Customize Your sApp Landing Page for Maximum Impact</a>
												</h4>
											</div>
										</div>
									</li>

									<!-- Post -->
									<li class="card blog-item d-flex flex-row">
										<div class="image-holder w-25">
											<!-- Card Thumb -->
											<a class="card-thumb" href="blog-single-right-sidebar.html">
												<img class="avatar-md" src="assets/img/blog/blog-3.jpg" alt="">
											</a>
										</div>
										<!-- Card Overlay -->
										<div class="card-content w-75 ms-3">
											<div class="heading">
												<div class="post-meta">
													<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
												</div>
												<h4 class="title mt-2 mb-0">
													<a href="blog-single-right-sidebar.html">10 Must-Have Features for a Successful App Landing Page</a>
												</h4>
											</div>
										</div>
									</li>

									<!-- Post -->
									<li class="card blog-item d-flex flex-row">
										<div class="image-holder w-25">
											<!-- Card Thumb -->
											<a class="card-thumb" href="blog-single-right-sidebar.html">
												<img class="avatar-md" src="assets/img/blog/blog-5.jpg" alt="">
											</a>
										</div>
										<!-- Card Overlay -->
										<div class="card-content w-75 ms-3">
											<div class="heading">
												<div class="post-meta">
													<span class="post-date"><i class="bi bi-clock me-1"></i>August 20, 2024</span>
												</div>
												<h4 class="title mt-2 mb-0">
													<a href="blog-single-right-sidebar.html">Why sApp is the Perfect Solution for Showcasing Your App's Features</a>
												</h4>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Blog Area End ***** -->

		<!--====== Footer Area Start ======-->
		<footer class="footer-area primary-bg p-0">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row items">
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<!-- Logo -->
								<a class="navbar-brand" href="index.html">
									<img class="logo" src="assets/img/logo/logo.png" alt="">
								</a>
								<p class="slug mt-3">The Next-Level Solutions for Landing Pages. Perfect Touch Enhances your Business.</p>

								<hr>

								<!-- Social Icons -->
								<div class="social-icons d-flex mt-3">
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-x-twitter"></i>
										<i class="fa-brands fa-x-twitter"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-linkedin-in"></i>
										<i class="fa-brands fa-linkedin-in"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-github"></i>
										<i class="fa-brands fa-github"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Useful Links</h4>

								<!-- Navigation -->
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="index.html">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Services</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="blog-three-column.html">Blog</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Product Help</h4>

								<!-- Navigation -->
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="faq.html">FAQ</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Privacy Policy</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Support</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Terms &amp; Conditions</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Download</h4>

								<!-- Download Button -->
								<div class="button-group download-button">
									<a href="download.html">
										<img src="assets/img/content/google-play-black.png" alt="">
									</a>
									<a href="download.html">
										<img src="assets/img/content/app-store-black.png" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- Copyright Area -->
							<div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center text-center py-4">
								<span>&copy; 2020-2024 sApp | All rights reserved.</span>
								<span>Made with <i class="fa-solid fa-heart"></i> By <a href="https://themeforest.net/user/theme_land" target="_blank">Themeland</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--====== Footer Area End ======-->

		<!--====== Modal Search Area Start ======-->
		<div id="search" class="p-0 modal fade">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Search <i class="icon-close"></i>
					</div>
					<div class="modal-body">
						<form class="row">
							<div class="col-12 align-self-center p-0">
								<div class="row">
									<div class="col-12 p-0 pb-3">
										<h2 class="modal-heading mt-0 mb-3">What are you looking for?</h2>
										<form class="contact-form outlined">
											<div class="form-floating mb-3">
												<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Keywords">
												<label for="keywords">Enter Keywords</label>
											</div>
											<input type="submit" class="search-submit" value="Search">
										</form>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Search Area End ======-->

		<!--====== Modal Responsive Menu Area Start ======-->
		<div id="menu" class="modal fade p-0">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Menu <i class="icon-close"></i>
					</div>
					<div class="menu modal-body">
						<div class="row w-100">
							<div class="items p-0 col-12 text-center">
								<!-- Append [navbar] -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Responsive Menu Area End ======-->

		<!--====== Scroll To Top Area Start ======-->
		<div id="scroll-to-top" class="scroll-to-top">
			<a href="#home" class="smooth-anchor">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
		</div>
		<!--====== Scroll To Top Area End ======-->
	</div>


	<!-- ***** All jQuery Plugins ***** -->

	<!-- jQuery(necessary for all JavaScript plugins) -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>

	<!-- Plugins js -->
	<script src="assets/js/vendor/slider.min.js"></script>
	<script src="assets/js/vendor/owl.carousel.min.js"></script>
	<script src="assets/js/vendor/counterup.js"></script>
	<script src="assets/js/vendor/waypoint.js"></script>
	<script src="assets/js/vendor/aos.js"></script>
	<script src="assets/js/vendor/wow.min.js"></script>
	<script src="assets/js/vendor/countdown.min.js"></script>
	<script src="assets/js/vendor/gallery.min.js"></script>

	<!-- Main js -->
	<script src="assets/js/main.js"></script>
</body>

</html>