<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>sApp - App Landing Page</title>

	<!-- Favicon  -->
	<link rel="icon" href="assets/img/favicon.png">

	<!-- ***** All CSS Files ***** -->

	<!-- Style css -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	<div class="main">
		<!-- ***** Preloader Start ***** -->
		<div class="preloader-main">
			<div class="preloader-wapper">
				<svg class="preloader" xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="200">
					<defs>
						<filter id="goo" x="-40%" y="-40%" height="200%" width="400%">
							<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
							<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -8" result="goo" />
						</filter>
					</defs>
					<g filter="url(#goo)">
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
					</g>
				</svg>
				<div>
					<div class="loader-section section-left"></div>
					<div class="loader-section section-right"></div>
				</div>
			</div>
		</div>
		<!-- ***** Preloader End ***** -->

		<!-- ***** Header Start ***** -->
		<header id="header">
			<!-- Navbar -->
			<nav data-aos="zoom-out" data-aos-delay="800" class="navbar gameon-navbar navbar-expand">
				<div class="container header">

					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<img src="assets/img/logo/logo.png" alt="Brand Logo" />
					</a>

					<div class="ms-auto"></div>

					<!-- Navbar Nav -->
					<ul class="navbar-nav items mx-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Home <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="index.html" class="nav-link">Homepage-1</a>
								</li>
								<li class="nav-item">
									<a href="index-2.html" class="nav-link">Homepage-2</a>
								</li>
								<li class="nav-item">
									<a href="index-3.html" class="nav-link">Homepage-3</a>
								</li>
								<li class="nav-item">
									<a href="index-4.html" class="nav-link">Homepage-4</a>
								</li>
								<li class="nav-item">
									<a href="index-5.html" class="nav-link">Homepage-5</a>
								</li>
								<li class="nav-item">
									<a href="index-6.html" class="nav-link">Homepage-6</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#features">Features</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Pages <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Inner Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="pricing.html" class="nav-link">Pricing</a>
										</li>
										<li class="nav-item">
											<a href="download.html" class="nav-link">Download</a>
										</li>
										<li class="nav-item">
											<a href="newsletter.html" class="nav-link">Newsleter</a>
										</li>
										<li class="nav-item">
											<a href="thank-you.html" class="nav-link">Thank you</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">404</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-two-column.html" class="nav-link">Blog 2 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-three-column.html" class="nav-link">Blog 3 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Single <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-single-left-sidebar.html" class="nav-link">Blog Single Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-single-right-sidebar.html" class="nav-link">Blog Single Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Accounts <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="login.html" class="nav-link">Login</a>
										</li>
										<li class="nav-item">
											<a href="signup.html" class="nav-link">Signup</a>
										</li>
										<li class="nav-item">
											<a href="forgot.html" class="nav-link">Reset Password</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="reviews.html" class="nav-link">Reviews</a>
								</li>
								<li class="nav-item">
									<a href="faq.html" class="nav-link active">FAQ</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link disabled">More Coming Soon</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#screenshots">Screenshots</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#contact">Contact</a>
						</li>
					</ul>

					<!-- Navbar Icons -->
					<ul class="navbar-nav icons">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#search">
								<i class="icon-magnifier"></i>
							</a>
						</li>
					</ul>

					<!-- Navbar Toggler -->
					<ul class="navbar-nav toggle">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#menu">
								<i class="icon-menu m-0"></i>
							</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- ***** Header End ***** -->

		<!-- ***** Breadcrumb Area Start ***** -->
		<section id="home" class="breadcrumb-area has-overlay overlay-gradient d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Breamcrumb Content -->
						<div class="breadcrumb-content text-center">
							<h2 class="text-white">Have questions? Look here</h2>
							<ol class="breadcrumb d-flex justify-content-center">
								<li class="breadcrumb-item"><a class="text-white" href="index.html">Home</a></li>
								<li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
								<li class="breadcrumb-item text-white active">FAQ</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Breadcrumb Area End ***** -->

		<!-- ***** FAQ Area Start ***** -->
		<section class="faq">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-7">
						<!-- Intro -->
						<div class="intro text-center">
							<h2 class="title mt-0">Frequently Asked Questions</h2>
							<p>Find answers to the most common questions, covering everything from setup to advanced features, to help you get the most out of the platform.</p>
						</div>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-12 col-md-10">
						<!-- sApp Accordion -->
						<div class="accordion accordion-flush" id="sapp-accordion">
							<!-- Accordion Item -->
							<div class="accordion-item">
								<h4 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
									How to install sApp?
									</button>
								</h4>
								<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#sapp-accordion">
									<div class="accordion-body">To install sApp, follow the <a href="#">step-by-step instructions</a> in the provided documentation. It covers everything you need to set up and customize the theme effortlessly.</div>
								</div>
							</div>

							<!-- Accordion Item -->
							<div class="accordion-item">
								<h4 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
									How can I edit my personal information?
									</button>
								</h4>
								<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#sapp-accordion">
									<div class="accordion-body">You can easily edit your personal information by <a href="#">navigating</a> to the profile settings within the app. From there, update your details and save the changes instantly.</div>
								</div>
							</div>

							<!-- Accordion Item -->
							<div class="accordion-item">
								<h4 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
									Do you have a free trail?
									</button>
								</h4>
								<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#sapp-accordion">
									<div class="accordion-body">Absolutely! sApp offers a free trial that gives you full access to its <a href="#">core features</a>. This allows you to explore the theme, test its capabilities, and determine if it fits your needs before making a purchase decision.</div>
								</div>
							</div>

							<!-- Accordion Item -->
							<div class="accordion-item">
								<h4 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
									Can I get support from the Author?
									</button>
								</h4>
								<div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#sapp-accordion">
									<div class="accordion-body">Yes, you can get dedicated support from the author. If you have any questions or encounter issues, simply reach out through the support channels provided in the documentation or marketplace. The author is available to assist with any queries related to installation, customization, or troubleshooting.</div>
								</div>
							</div>

							<!-- Accordion Item -->
							<div class="accordion-item">
								<h4 class="accordion-header">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
									Contact form isn't working?
									</button>
								</h4>
								<div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#sapp-accordion">
									<div class="accordion-body">If the contact form isn't working, first ensure that all required fields are filled out correctly. If the issue persists, please reach out to <a href="#">support</a> for assistance, and provide details about the issue for a quicker resolution.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** FAQ Area End ***** -->

		<!-- ***** Download Area Start ***** -->
		<section class="download-area has-overlay overlay-dark">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-9">
						<!-- Content -->
						<div class="content text-center">
							<h2 class="text-white">sApp is available for all devices</h2>
							<p class="text-white">Enjoy the versatility of sApp, designed to seamlessly function on all devices. Whether you're using a smartphone, tablet, or desktop, download the app now and experience its powerful features anytime, anywhere!</p>

							<!-- Download Button -->
							<div class="button-group download-button justify-content-center">
								<a href="download.html">
									<img src="assets/img/content/google-play.png" alt="">
								</a>
								<a href="download.html">
									<img src="assets/img/content/app-store.png" alt="">
								</a>
							</div>
							<span class="d-block fst-italic fw-light text-white mt-3">* Available on iPhone, iPad and all Android devices</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Download Area End ***** -->

		<!--====== Contact Area Start ======-->
		<section id="contact" class="contact-area primary-bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-7">
						<!-- Intro -->
						<div class="intro text-center">
							<h2 class="title mt-0">Stay Tuned</h2>
							<p>Keep an eye out for exciting news and updates from the app, as we continue to enhance your experience and introduce new features.</p>
						</div>
					</div>
				</div>
				<div class="row justify-content-between align-items-center">
					<div class="col-12 col-md-5">
						<div class="contact-info">
							<h3 class="mt-0">Schedule a call with us to see if we can help</h3>
							<p>Whether you’re looking to start a new project or simply want to chat, feel free to reach out to us!</p>

							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex align-items-center">
									<!-- Icon Box -->
									<div class="icon-box me-3">
										<div class="icon">
											<span class="contact-icon material-symbols-outlined">call</span>
										</div>
									</div>
									<span><a href="tel:+18904735102">+1.890.473.5102</a></span>
								</li>

								<li class="list-group-item d-flex align-items-center">
									<!-- Icon Box -->
									<div class="icon-box me-3">
										<div class="icon">
											<span class="contact-icon material-symbols-outlined">mark_email_unread</span>
										</div>
									</div>
									<span><a href="mailto:hello@yourmail.com">hello@yourmail.com</a></span>
								</li>

								<li class="list-group-item d-flex align-items-center">
									<!-- Icon Box -->
									<div class="icon-box me-3">
										<div class="icon">
											<span class="contact-icon material-symbols-outlined">location_on</span>
										</div>
									</div>
									<span>912 Park Ave, Ketchikan, Alaska 99901, USA</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-6 mt-4 mt-md-0">
						<form id="contact-form" class="contact-form outlined" method="POST" action="assets/php/mail.php">
							<div class="form-floating mb-3">
								<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
								<label for="name">Name</label>
							</div>
							<div class="form-floating mb-3">
								<input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
								<label for="email">Email address</label>
							</div>
							<div class="form-floating mb-3">
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
								<label for="subject">Subject</label>
							</div>
							<div class="form-floating mb-4">
								<textarea class="form-control" name="message" id="message" placeholder="Leave a comment here" required style="height: 100px"></textarea>
								<label for="message">Message</label>
							</div>
							<button type="submit" class="btn swap-icon">Submit Message<i class="icon bi bi-arrow-right-short"></i></button>
						</form>
						<p class="form-message"></p>
					</div>
				</div>
			</div>
		</section>
		<!--====== Contact Area End ======-->

		<!--====== Footer Area Start ======-->
		<footer class="footer-area p-0">
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container">
					<div class="row items">
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<!-- Logo -->
								<a class="navbar-brand" href="index.html">
									<img class="logo" src="assets/img/logo/logo.png" alt="">
								</a>
								<p class="slug mt-3">The Next-Level Solutions for Landing Pages. Perfect Touch Enhances your Business.</p>

								<hr>

								<!-- Social Icons -->
								<div class="social-icons d-flex mt-3">
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-x-twitter"></i>
										<i class="fa-brands fa-x-twitter"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-linkedin-in"></i>
										<i class="fa-brands fa-linkedin-in"></i>
									</a>
									<a class="icon has-overlay overlay-gradient" href="#">
										<i class="fa-brands fa-github"></i>
										<i class="fa-brands fa-github"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Useful Links</h4>

								<!-- Navigation -->
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="index.html">Home</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Services</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="blog-three-column.html">Blog</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Product Help</h4>

								<!-- Navigation -->
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="faq.html">FAQ</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Privacy Policy</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Support</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Terms &amp; Conditions</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 item">
							<!-- Footer Items -->
							<div class="footer-items">
								<h4 class="footer-title mt-0">Download</h4>

								<!-- Download Button -->
								<div class="button-group download-button">
									<a href="download.html">
										<img src="assets/img/content/google-play-black.png" alt="">
									</a>
									<a href="download.html">
										<img src="assets/img/content/app-store-black.png" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- Copyright Area -->
							<div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between align-items-center text-center py-4">
								<span>&copy; 2020-2024 sApp | All rights reserved.</span>
								<span>Made with <i class="fa-solid fa-heart"></i> By <a href="https://themeforest.net/user/theme_land" target="_blank">Themeland</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--====== Footer Area End ======-->

		<!--====== Modal Search Area Start ======-->
		<div id="search" class="p-0 modal fade">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Search <i class="icon-close"></i>
					</div>
					<div class="modal-body">
						<form class="row">
							<div class="col-12 align-self-center p-0">
								<div class="row">
									<div class="col-12 p-0 pb-3">
										<h2 class="modal-heading mt-0 mb-3">What are you looking for?</h2>
										<form class="contact-form outlined">
											<div class="form-floating mb-3">
												<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Keywords">
												<label for="keywords">Enter Keywords</label>
											</div>
											<input type="submit" class="search-submit" value="Search">
										</form>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Search Area End ======-->

		<!--====== Modal Responsive Menu Area Start ======-->
		<div id="menu" class="modal fade p-0">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Menu <i class="icon-close"></i>
					</div>
					<div class="menu modal-body">
						<div class="row w-100">
							<div class="items p-0 col-12 text-center">
								<!-- Append [navbar] -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Responsive Menu Area End ======-->

		<!--====== Scroll To Top Area Start ======-->
		<div id="scroll-to-top" class="scroll-to-top">
			<a href="#home" class="smooth-anchor">
				<i class="fa-solid fa-arrow-up"></i>
			</a>
		</div>
		<!--====== Scroll To Top Area End ======-->
	</div>


	<!-- ***** All jQuery Plugins ***** -->

	<!-- jQuery(necessary for all JavaScript plugins) -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>

	<!-- Plugins js -->
	<script src="assets/js/vendor/slider.min.js"></script>
	<script src="assets/js/vendor/owl.carousel.min.js"></script>
	<script src="assets/js/vendor/counterup.js"></script>
	<script src="assets/js/vendor/waypoint.js"></script>
	<script src="assets/js/vendor/aos.js"></script>
	<script src="assets/js/vendor/wow.min.js"></script>
	<script src="assets/js/vendor/countdown.min.js"></script>
	<script src="assets/js/vendor/gallery.min.js"></script>

	<!-- Main js -->
	<script src="assets/js/main.js"></script>
</body>

</html>