<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title  -->
	<title>sApp - App Landing Page</title>

	<!-- Favicon  -->
	<link rel="icon" href="assets/img/favicon.png">

	<!-- ***** All CSS Files ***** -->

	<!-- Style css -->
	<link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
	<div class="main">
		<!-- ***** Preloader Start ***** -->
		<div class="preloader-main">
			<div class="preloader-wapper">
				<svg class="preloader" xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="200">
					<defs>
						<filter id="goo" x="-40%" y="-40%" height="200%" width="400%">
							<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
							<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -8" result="goo" />
						</filter>
					</defs>
					<g filter="url(#goo)">
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
						<circle class="dot" cx="50" cy="50" r="25" fill="#8731E8" />
					</g>
				</svg>
				<div>
					<div class="loader-section section-left"></div>
					<div class="loader-section section-right"></div>
				</div>
			</div>
		</div>
		<!-- ***** Preloader End ***** -->

		<!-- ***** Header Start ***** -->
		<header id="header">
			<!-- Navbar -->
			<nav data-aos="zoom-out" data-aos-delay="800" class="navbar gameon-navbar navbar-expand">
				<div class="container header">

					<!-- Logo -->
					<a class="navbar-brand" href="index.html">
						<img src="assets/img/logo/logo.png" alt="Brand Logo" />
					</a>

					<div class="ms-auto"></div>

					<!-- Navbar Nav -->
					<ul class="navbar-nav items mx-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Home <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item">
									<a href="index.html" class="nav-link">Homepage-1</a>
								</li>
								<li class="nav-item">
									<a href="index-2.html" class="nav-link">Homepage-2</a>
								</li>
								<li class="nav-item">
									<a href="index-3.html" class="nav-link">Homepage-3</a>
								</li>
								<li class="nav-item">
									<a href="index-4.html" class="nav-link">Homepage-4</a>
								</li>
								<li class="nav-item">
									<a href="index-5.html" class="nav-link">Homepage-5</a>
								</li>
								<li class="nav-item">
									<a href="index-6.html" class="nav-link">Homepage-6</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#features">Features</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link">Pages <i class="icon-arrow-down"></i></a>
							<ul class="dropdown-menu">
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Inner Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="pricing.html" class="nav-link">Pricing</a>
										</li>
										<li class="nav-item">
											<a href="download.html" class="nav-link">Download</a>
										</li>
										<li class="nav-item">
											<a href="newsletter.html" class="nav-link active">Newsleter</a>
										</li>
										<li class="nav-item">
											<a href="thank-you.html" class="nav-link">Thank you</a>
										</li>
										<li class="nav-item">
											<a href="coming-soon.html" class="nav-link">Coming Soon</a>
										</li>
										<li class="nav-item">
											<a href="404.html" class="nav-link">404</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Pages <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-two-column.html" class="nav-link">Blog 2 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-three-column.html" class="nav-link">Blog 3 Column</a>
										</li>
										<li class="nav-item">
											<a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Blog Single <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="blog-single-left-sidebar.html" class="nav-link">Blog Single Left Sidebar</a>
										</li>
										<li class="nav-item">
											<a href="blog-single-right-sidebar.html" class="nav-link">Blog Single Right Sidebar</a>
										</li>
									</ul>
								</li>
								<li class="nav-item dropdown">
									<a href="#" class="nav-link">Accounts <i class="icon-arrow-right"></i></a>
									<ul class="dropdown-menu">
										<li class="nav-item">
											<a href="login.html" class="nav-link">Login</a>
										</li>
										<li class="nav-item">
											<a href="signup.html" class="nav-link">Signup</a>
										</li>
										<li class="nav-item">
											<a href="forgot.html" class="nav-link">Reset Password</a>
										</li>
									</ul>
								</li>
								<li class="nav-item">
									<a href="reviews.html" class="nav-link">Reviews</a>
								</li>
								<li class="nav-item">
									<a href="faq.html" class="nav-link">FAQ</a>
								</li>
								<li class="nav-item">
									<a href="contact.html" class="nav-link">Contact</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link disabled">More Coming Soon</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#screenshots">Screenshots</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#pricing">Pricing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link smooth-anchor" href="#contact">Contact</a>
						</li>
					</ul>

					<!-- Navbar Icons -->
					<ul class="navbar-nav icons">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#search">
								<i class="icon-magnifier"></i>
							</a>
						</li>
					</ul>

					<!-- Navbar Toggler -->
					<ul class="navbar-nav toggle">
						<li class="nav-item">
							<a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#menu">
								<i class="icon-menu m-0"></i>
							</a>
						</li>
					</ul>

				</div>
			</nav>
		</header>
		<!-- ***** Header End ***** -->

		<!-- ***** Download Area Start ***** -->
		<section id="home" class="download has-overlay overlay-gradient vh-100">
			<div class="container h-100">
				<div class="row justify-content-center align-items-center h-100">
					<div class="col-12 col-md-7 text-center">
						<h1 class="text-white">Subscribe to get updates!</h1>
						<p class="text-white">Stay in the loop! Subscribe now to receive the latest news, updates, and exclusive offers from sApp directly to your inbox.</p>

						<!-- Subscribe Form -->
						<div class="input-group">
							<div class="form-floating">
								<input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
								<label for="email">Email address</label>
							</div>
							<button class="btn" type="button" id="input-button">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ***** Download Area End ***** -->

		<!--====== Modal Search Area Start ======-->
		<div id="search" class="p-0 modal fade">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Search <i class="icon-close"></i>
					</div>
					<div class="modal-body">
						<form class="row">
							<div class="col-12 align-self-center p-0">
								<div class="row">
									<div class="col-12 p-0 pb-3">
										<h2 class="modal-heading mt-0 mb-3">What are you looking for?</h2>
										<form class="contact-form outlined">
											<div class="form-floating mb-3">
												<input type="text" class="form-control" name="keywords" id="keywords" placeholder="Enter Keywords">
												<label for="keywords">Enter Keywords</label>
											</div>
											<input type="submit" class="search-submit" value="Search">
										</form>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Search Area End ======-->

		<!--====== Modal Responsive Menu Area Start ======-->
		<div id="menu" class="modal fade p-0">
			<div class="modal-dialog modal-dialog-slideout">
				<div class="modal-content full">
					<div class="modal-header" data-bs-dismiss="modal">
						Menu <i class="icon-close"></i>
					</div>
					<div class="menu modal-body">
						<div class="row w-100">
							<div class="items p-0 col-12 text-center">
								<!-- Append [navbar] -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--====== Modal Responsive Menu Area End ======-->
	</div>


	<!-- ***** All jQuery Plugins ***** -->

	<!-- jQuery(necessary for all JavaScript plugins) -->
	<script src="assets/js/vendor/jquery.min.js"></script>

	<!-- Bootstrap js -->
	<script src="assets/js/vendor/popper.min.js"></script>
	<script src="assets/js/vendor/bootstrap.min.js"></script>

	<!-- Plugins js -->
	<script src="assets/js/vendor/slider.min.js"></script>
	<script src="assets/js/vendor/owl.carousel.min.js"></script>
	<script src="assets/js/vendor/counterup.js"></script>
	<script src="assets/js/vendor/waypoint.js"></script>
	<script src="assets/js/vendor/aos.js"></script>
	<script src="assets/js/vendor/wow.min.js"></script>
	<script src="assets/js/vendor/countdown.min.js"></script>
	<script src="assets/js/vendor/gallery.min.js"></script>

	<!-- Main js -->
	<script src="assets/js/main.js"></script>
</body>

</html>